{{define "main"}}
<div class="container">
    <h1 class="title">Portfolio</h1>

    <div class="columns">
        <div class="column is-flex is-flex-direction-column">
            <p style="line-height: 2;">Od lutego 2012, tworzenie  oprogramowania w oparciu o Java to moja specjalizacja.
            Od tego czasu pracowałem w wielu projektach współtworząc oprogramowanie systemów bankowych,
                nawigacji, integracji i synchronizacji współdziałania programów czy zarządzania użytkownikami i kontentem różnych platform.
                Poniżej przegląd tych projektów.
            </p>
        </div>
        <div class="column">
            <img src="/images/diagram700.png"/>
        </div>
    </div>
    <ul>
    {{range .Pages}}
    <li class="custom-gap">
        {{ .Render "summary" }}
    </li>
    {{end}}
</ul>
</div>
{{end}}