{{define "main"}}
<div class="container">
    <h1 class="title is-1">{{ .Title }}</h1>
    <h2 class="title is-2">Intro</h2>
    <div class="columns">
        <div class="column is-flex is-flex-direction-column">
            <p class="content">{{ .Content }}</p>
            <a href="{{ .Params.Website }}" target="_blank">{{ .Params.Website }}</a>
        </div>
        <div class="column">
            {{ with .Resources.GetMatch "*logo.png" }}
            <img src="data:{{ .MediaType.Type }};base64,{{ .Content | base64Encode }}">
            {{ end }}
        </div>
    </div>
    <h2 class="title is-2">{{ T "portfolioProjects" | title}}</h2>
    <ul>
        {{ $sortedPages := sort (where .Pages "Params.start" "!=" nil) ".Params.start" "desc" }}
        {{ range $index, $page := $sortedPages }}
    <li class="custom-gap">
        {{ .Render "summary" }}
    </li>
    {{end}}
</ul>
</div>
{{end}}