<div class="custom-gap">
    <p class="title is-3"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
    <p class="subtitle has-text-grey is-6">{{ .Summary | safeHTML  }}         {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">{{T "readMore"}}</a>
    {{ end }}</p>
    <span class="tag is-link">{{ .ReadingTime }} Minutes</span>
    <span class="tag is-dark">{{ dateFormat "2 Jan 2006" .Date }}</span>
    <span class="tag is-warning">{{ .WordCount }} Words</span>

        {{ if .Params.tags }}
        <strong>Tags:</strong>
        {{range $t := .Params.tags}}
        {{ with $.Site.GetPage (printf "/tags/%s" $t) }}
        <a class="tag" href={{ .RelPermalink }} title="All pages with tag {{$t}}">{{$t}}</a>
        {{- end -}}
        {{- end -}}
        {{- end -}}
</div>
