<footer class="footer has-text-centered">{{ dateFormat "2006" .GitInfo.AuthorDate }}&nbsp
    {{- $joinedLinks := slice -}}
    {{- range .Site.Menus.main -}}
        {{- $joinedLinks = $joinedLinks | append (printf `<a href="%s">%s</a>` .URL (.Title)) -}}
    {{- end -}}
    {{- delimit $joinedLinks  " | " -}}
</footer>
<div class="has-text-right">
{{- if .IsHome }}
&nbsp;<span class=" is-size-7">{{ T "version" }}: {{ .GitInfo.AbbreviatedHash }} {{ T "lastUpdate" }}: {{  dateFormat "2006-01-02" .GitInfo.AuthorDate }}</span>
{{- end -}}
</div>