<nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ relURL ""}}">
                <img src="{{ relURL "images/logo.png" }}" alt="Logo">
            </a>
        </div>
        <div class="navbar-brand">
            {{- $page := . }}
            {{- $mm := .Site.Menus.main -}}
            {{- range .Site.Menus.main -}}
                <a class="navbar-item{{ if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }} is-active {{- end -}}" href="{{ .URL | relURL}}">{{ .Name }}</a>
            {{- end -}}
        </div>
    <div class="navbar-end">
            {{ range .Translations }}
                <a class="navbar-item" href="{{ .Permalink }}"> {{ .Lang | upper}}</a>
            {{ end }}
    </div>
    </div>
</nav>
