<nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">
            {{- range $.Site.Data.navbar.content -}}
            {{ $segments := split $.RelPermalink "/"}}
            {{ $basePath := "/" }}
            {{ $length := len $segments }}
            {{ if and $segments (gt $length 2) }}
            {{ $basePath = (print "/" (index $segments 1) "/") }}
            {{ end }}
            <a class="navbar-item{{ if eq $basePath .url }} is-active{{ end }}" href="{{ .url }}">{{ .section | title }}</a>
            {{- end -}}
        </div>
    </div>
</nav>
