{{ define "main" }}
<main class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile box is-child">
                    <div class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title" t-key="progTitle">{{T "progTitle"}}</p>
                                <p class="subtitle" t-key="progTitle">{{T "progSubtitle"}}</p>
                                <p t-key="progText">{{ T "progText" }}</p>
                            </div>
                        </div>
                        <figure class="media-right">
                            <p class="image is-128x128">
                                <img t-key="makeWebsiteImgAlt" src="{{ relURL "images/makingAWebServiceOrangeResized.png" }}" alt="{{T "makeWebsiteImgAlt"}}">
                            </p>
                        </figure>
                    </div>
            </div>
            <div class="tile box is-child">
                    <div class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title" t-key="itSupport">{{T "itSupport"}}</p>
                                <p class="subtitle" t-key="itSupportSubtitle">{{T "itSupportSubtitle" }}</p>
                                <p t-key="itSupportText">{{ T "itSupportText" }}</p>
                            </div>
                        </div>
                        <figure class="media-right">
                            <p class="image is-128x128">
                                <img t-key="itSupportImgAlt" src="{{ relURL "images/itSupportOrangeResized.png" }}" alt="{{ T "itSupportImgAlt" }}">
                            </p>
                        </figure>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}