{{ define "main" }}

<main class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile">
                <div class="tile is-child box notification">
                    <p class="title">Web</p>
                    <p class="subtitle">Oprogramowane strony internetowe</p>
                    <p class="content">
                        Strony internetowe oferujące interakcję z uźytkownikiem poprzez autentykację (zalogowanie) i autoryzację np sklep internetowy, zbieranie danych od zarejestrowanych użytkowników.
                        <br>Autentykacja umożliwia identyfikację i weryfikację tożsamości użytkowników w celu udostępnienia im określonego dostępu do zasobów lub funkcji systemu.
                        <br>Autoryzacja dotyczy kontroli dostępu do określonych zasobów lub funkcji po uwierzytelnieniu użytkownika.
                    </p>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-child box notification">
                    <p class="title">Wsparcie informatyczne firm</p>
                    <p class="subtitle">Domena, strona www, e-mail, zarządzanie użytkownikami</p>
                    <p>
                        Rozpoczynając działalność gospodarczą warto ją zakotwiczyć w świecie on-line poprzez dobraną domenę, adres www wiążący z nazwą aktywności dochodowej.
                    </p>
                    <p class="content">{{ T "jumbotronMessage" }}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}